requests~=2.32.3
mypy~=1.15.0
mypy-extensions~=1.0.0
black~=25.1.0
platformdirs~=4.3.6
colorama~=0.4.6
packaging~=24.2
pathspec~=0.12.1
click~=8.1.8
isort~=6.0.1
flake8~=7.1.2
pyflakes~=3.2.0
pycodestyle~=2.12.1
certifi~=2025.1.31
urllib3~=2.3.0
idna~=3.10
charset-normalizer~=3.4.1